/*..................................header 改................................*/

.nav a:nth-child(4) {
    color: #b60f29;
}

.nav a:nth-child(1) {
    color: #0e2e5f;
}

/*..................................content................................*/

.content {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background: #FFFFFF;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #333333;
    padding-top: 40px;
}

.imgContent {
    position: relative;
    margin: 50px 0 0 11%;
    opacity: 0;
}


/*..................................content_2................................*/

.content_2 {
    width: 100%;
    height: 500px;
    background: #f6f7fb;
    margin-top: 0px;
}

.content_2 h1 {
    padding-bottom: 0;
}

.content_2 .bar {
    display: block;
    margin: 20px auto 0;
    width: 50px;
    border-bottom: 3px solid #b60f29;
}

.lesson {
    text-align: center;
    margin-top: 40px;
}

.lesson_1,
.lesson_2 {
    display: inline-block;
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    vertical-align: top;
    margin: 0 80px;
    opacity: 0;
}

.lesson img {
    display: inline-block;
    width: 200px;
    height: 260px;
    margin: 20px 10px 0 10px;
    border-radius: 5px;
    float: left;
}

.lesson_1 div,
.lesson_2 div {
    width: 270px;
    height: 260px;
    float: left;
    margin: 20px 10px 0 0;
    position: relative;
}

.lesson h5 {
    margin-bottom: 10px;
    color: #b60f29;
}

.lesson span {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #7B7B7B;
    text-align: justify;
}

.lesson a {
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #F26060;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    bottom: 0;
    left: 30%;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.lesson a:hover {
    background: #b60f29;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
