.nav a:nth-child(3){
	color: #E61230;
}
.nav a:nth-child(1){
	color: #000000;
}
/*................................ teacherContent ...................................*/
.heading_1{
	width: 100%;
	height: auto;
	background: #ffffff;
}
h1{
	text-align: center;
	font-size: 40px;
	color: #323232;
	padding-top: 40px;
}
.content{
	text-align: center;
}
.content div{
	display: inline-block;
	margin: 30px 20px 40px;
	vertical-align: top;
}
.img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: #FFBA67;
}
.content span{
	display: block;
	font-size: 20px;
	margin-top: 10px;
}
.content .txt_1{
	width: 300px;
	margin-top: 15px;
	font-size: 22px;
}
.content .txt_2{
	width: 300px;
	height: auto;
	font-size: 14px;
	text-align: center;
}
/*................................ teacherContent ...................................*/
.heading_2{
	width: 100%;
	height: auto;
	background: #DCDCDC;
}