.nav a:nth-child(3){
	color: #b60f29;
}
.nav a:nth-child(1){
	color: #0e2e5f;
}
/*................................ teacherContent ...................................*/
.heading_1{
	width: 100%;
	height: auto;
	background: #ffffff;
}
h1{
	text-align: center;
	font-size: 30px;
	color: #333333;
	padding-top: 40px;
}
.content{
	text-align: center;
}
.content div{
	display: inline-block;
	margin: 50px 15px 50px;
	vertical-align: top;
}
.img{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	background: #FFBA67;
}
.content span{
	display: block;
	font-size: 20px;
	margin-top: 10px;
}
.content h5{
	width: 300px;
	color: #b60f29;
	margin-top: 15px;
	font-size: 22px;
	font-weight: normal;
}
.content span{
	width: 300px;
	color: #7B7B7B;
	height: auto;
	font-size: 14px;
	text-align: center;
}
/*................................ teacherContent ...................................*/
.heading_2{
	width: 100%;
	height: auto;
	background: #DCDCDC;
}