form h2{
	width: auto;
	height: 20px;
	line-height: 20px;
	padding:0 0 10px 2.5%;
	font-size: 15px;
	letter-spacing: 2px;
	color: #0e2e5f;
}
form table{
	width: 95%;
	height: auto;
	border: 1px solid #CBCBCB;
	margin: 0 auto 5%;
	text-align: center;
}
form table tr{
	width: 100%;
}
form table th{
	width: auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CBCBCB;
	background: #E3E3E3;
	color: #484848;
}
form table td{
	width: auto;
	min-height: 30px;
	line-height: 30px;
	font-size: 12px;
	border: 1px solid #CBCBCB;
}
form table tr.noCord{
	background: #9C9C9C !important;
}
form tbody tr{
	background: #FFF7DC;
}