form table{
	width: 95%;
	height: auto;
	border: 1px solid #CBCBCB;
	margin: 0 auto 5%;
	text-align: center;
}
form table tr{
	width: 100%;
}
form table th{
	width: auto;
	height: 30px;
	line-height: 30px;
	border: 1px solid #CBCBCB;
	background: #E3E3E3;
	color: #484848;
}
form table td{
	width: auto;
	min-height: 30px;
	line-height: 30px;
	font-size: 12px;
	border: 1px solid #CBCBCB;
}
form table a.moonPay{
	width: 40%;
	height: 20px;
	line-height: 20px;
	display: block;
	border: none;
	border-radius: 2px;
	background: #FF6709;
	color: #ffffff;
	padding: 5px 10px;
	margin: 5px auto;
	outline: none;
}
form table a.moonPay:hover{
	background: #FF2900;
	cursor: pointer;
	outline: none;
}
form tbody tr:nth-child(odd){
	background: none;
}
form tbody tr:nth-child(even){
	background: #FFF7DC;
}