.nav a:nth-child(3){
	position: relative;
    color: #b60f29;
}
.nav .triangle{
	position: absolute;
	bottom: -30px;
	left: 20px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #0e2e5f;
}
.head_img{
	width: 100%;
	height: 300px;
	background: yellow;
}
.head_img img{
	width: 100%;
	height: 100%;
}
.bodyer{
	width: 70%;
	height: auto;
	margin: 0 auto 100px;
	padding-bottom: 100px;
	background: #ffffff;
	border: 1px solid #CBCBCB;
}
.bodyTitle{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #CBCBCB;
	text-align: center;
}
.bodyer h3{
	margin: 0 2%;
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	position: relative;
	color: #777777;
}
.bodyer .circle{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #777777;
	position: absolute;
	bottom: -8px;
	left: 40px;
}
.bodyer .current{
	color: #FF8200;
}
.bodyer .circleCurrent{
	background: #b60f29;
}
.lesson_1,.lesson_2{
	margin-top: 2.5%;
}
.lesson_1 img,.lesson_2 img{
	width: 95%;
	height: 200px;
	padding: 0 2.5%;
}
.bodyer h4{
	font-weight: normal;
	font-size: 16px;
	color: #FF8200;
	width: 95%;
	margin: 15px auto;
}
.bodyer h5,.bodyer p{
	font-weight: normal;
	font-size: 14px;
	color: #7B7B7B;
	width: 95%;
	margin: 5px auto;
}
.bodyer table{
	width: 95%;
	margin: 0 auto 15px;
	text-align: center;
	border: 1px solid #7B7B7B;
	font-size: 14px;
}
.bodyer tr{
	border: 1px solid #7B7B7B;
}
.bodyer thead tr{
	font-weight: 700;
	color: #848484;
	background: #E5E5E5;
}
.bodyer td{
	height: 30px;
	border: 1px solid #7B7B7B;
}
.bodyer tbody td{
	height: 60px;
}
.bodyer tbody td a{
	display: block;
	margin: 0 auto;
	padding: 5%;
	width: 50%;
	height: 60%;
	color: #ffffff;
	border-radius: 4px;
	background: #FF8200;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.bodyer tbody td a:hover{
	background: #FFB400;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}